[class^="odessa-input"]:focus,
[class^="odessa-input"]:active {
  box-shadow: 0 0 0 4px #009adb;
  outline: 4px solid transparent;
  -webkit-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out; }

[class^="odessa-input"] {
  border: 2px solid #1a1a1a;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1a1a1a;
  font-size: 1rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0 0 2rem;
  max-width: 46em;
  width: 100%;
  padding: 0.625rem 1rem;
  -webkit-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out; }

.odessa-input--2-char-width {
  max-width: 8ex; }

.odessa-input--3-char-width {
  max-width: 10ex; }

.odessa-input--4-char-width {
  max-width: 12ex; }

.odessa-input--5-char-width {
  max-width: 14ex; }

.odessa-input--7-char-width {
  max-width: 17ex; }

.odessa-input--10-char-width {
  max-width: 23ex; }

.odessa-input--20-char-width {
  max-width: 41ex; }

.odessa-form-group [class^="odessa-input"]:focus,
.odessa-form-group [class^="odessa-input"]:active {
  box-shadow: 0 0 0 4px #009adb;
  outline: 4px solid transparent;
  -webkit-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out; }

.odessa-form-group [class^="odessa-input"] {
  border: 2px solid #1a1a1a;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1a1a1a;
  font-size: 1rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0 0 2rem;
  max-width: 46em;
  width: 100%;
  padding: 0.625rem 1rem;
  -webkit-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out; }

.odessa-form-group .odessa-input--2-char-width {
  max-width: 8ex; }

.odessa-form-group .odessa-input--3-char-width {
  max-width: 10ex; }

.odessa-form-group .odessa-input--4-char-width {
  max-width: 12ex; }

.odessa-form-group .odessa-input--5-char-width {
  max-width: 14ex; }

.odessa-form-group .odessa-input--7-char-width {
  max-width: 17ex; }

.odessa-form-group .odessa-input--10-char-width {
  max-width: 23ex; }

.odessa-form-group .odessa-input--20-char-width {
  max-width: 41ex; }

.odessa-form-group .odessa-dropdown {
  background-position: right 0.5rem center;
  padding-right: calc(1rem * 2.25);
  background-origin: initial;
  height: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white url("data:image/svg+xml;utf8,<svg width='48' height='48' xmlns='http://www.w3.org/2000/svg'><g><path d='M15.93 20a.8.8 0 0 0-.566 1.366l8.07 8.07a.8.8 0 0 0 1.131 0l8.07-8.07A.8.8 0 0 0 32.069 20H15.93z' fill='black'/></g></svg>") no-repeat;
  background-position: right 5px top 50%;
  background-size: 2.2rem; }

.odessa-form-group .odessa-dropdown::-ms-expand {
  display: none; }

.odessa-form-group .odessa-dropdown option {
  font-weight: normal; }
