.header {
  display: flex;
}

.header-item {
  padding: 1em;
  border: 1px solid black;
}

.receiptContainer {
  width: 60%;
}

.rows {
  border: 1px solid black;
}

.row {
  display: flex;
}
.row-item {
  padding: 1em;
}

.description {
  width: 75%;
}

.qty {
  padding: 1em 3.5em 1em 1em;
}

.amount {
  padding: 1em 3.3em 1em 1em;
}

.spec-title {
  width: 12%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2.5em;
}
