[class^="odessa-label"] {
  cursor: pointer;
  color: #1a1a1a;
  font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1875rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
  line-height: 1.5; }

.odessa-label--large {
  font-size: 1.75rem;
  letter-spacing: 0.02rem;
  margin: 0 0 1.5rem 0;
  line-height: 1.2; }

.odessa-label--heading {
  font-size: 2.5rem;
  letter-spacing: 0.02rem;
  line-height: 1.2;
  margin: 0 0 1.5rem 0; }

.odessa-label--heading h1 {
  display: inline-block;
  font-size: inherit;
  margin: 0; }

@media screen and (max-width: 40em) {
  .odessa-label--heading {
    font-size: 2rem; } }

.odessa-label__flag {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400; }

legend,
label {
  display: block;
  margin: 0; }
